<ng-container *transloco="let t;">

    <div *ngIf="currentApp.name" class="flex flex-wrap">
        {{t('welcometoapp',{app: t('menu.'+currentApp.name)})}}
    </div>

    <ng-container *ngFor="let item of menuItems">
        <p-fieldset [legend]="t('menu.apps.'+currentApp.name+'.'+item.label+'.'+item.label)" [toggleable]="true">
            <ng-container *ngFor="let submenu of item.items">

                <button pButton pRipple [label]="t('menu.apps.'+currentApp.name+'.'+item.label+'.'+submenu.label)" class="p-button-success m-1 w-5">
                </button>

            </ng-container>
        </p-fieldset>



    </ng-container>

</ng-container>