<ng-container *transloco="let t; prefix: 'menu'">
    <ul *ngIf="auth" class="side-menu">
        <li>
            <a (click)="this.clearApp()">
                <img src="/img/pulse.svg" alt="Image" [height]="(auth?'50':'200')" [width]="(auth?'50':'200')"
                    class="logoMenu cursor-pointer" />
                <div class="menuAppName">Apolo1</div>
            </a>
        </li>
        <li *ngFor="let item of items">
            <div>
                <a *ngIf="item.route"  [routerLink]="item.route" class="flex align-items-center cursor-pointer">
                    <ng-container *ngTemplateOutlet="menuItem; context{item}" />
                </a>
                <a *ngIf="item.command" (click)="item.command()" class="flex align-items-center cursor-pointer">
                    <ng-container *ngTemplateOutlet="menuItem; context{item}" />
                </a>
            </div>
        </li>

    </ul>
    <ng-template #menuItem let-item='item'>
        <img [src]="'/'+item.icon" class="iconMenu" />
        <span class="textMenu">{{t(item.label!)}}</span>
    </ng-template>
    
</ng-container>

