<ng-container *transloco="let t; prefix: 'menu.apps'">
    <div [class]="'divHeader flex '+(auth?'':'backgroundImageHeader')">
        <div class="divHeaderInner flex">
            <img src="/img/pulse.svg" alt="Image" [height]="(auth?'0':'200')" [width]="(auth?'0':'200')" class="logoImage cursor-pointer"
                (click)="this.goHome()" />
            <div *ngIf="auth&&currentApp.name!=''" class="divModuleName">
                {{t(currentApp.name)}}
            </div>
        </div>
        <div *ngIf="!auth" class="divAppName">Apolo1<span class="version">V0.1</span></div>
    </div>
    

</ng-container>