.divHeader {

   /*background: rgb(82,106,118);
    background: linear-gradient(135deg, rgb(94, 129, 146) 0%,  rgba(187,199,205,1) 80%, rgba(255,255,255,1) 100%);
    background-color: var(--pulse-bg-color);*/
   background: rgb(187, 199, 205);
   background: linear-gradient(135deg, #ff8800 0%, rgba(187, 199, 205, 1) 80%, rgba(255, 255, 255, 1) 100%);

   left: 0;
   right: 0;
   top: 0;
   margin: 0;
   padding: 0;
   overflow: hidden;
   vertical-align: top;
}

.backgroundImageHeader {
   background-image: url("/rocket.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   opacity: 0.8;
}

.divHeaderInner {
   background: linear-gradient(135deg, rgba(250, 250, 250, 0.0) 0%, rgba(250, 250, 250, 0.0) 30%, rgba(255, 136, 0, 0.5) 100%, rgba(255, 136, 0, 0.5) 60%);
   color: var(--pulse-text-color);
   left: 0;
   right: 0;
   top: 0;
   margin: 0;
   padding: 0;
   width: 100%;
   display: inline-block;
   vertical-align: top;
}

.logoImage {
   padding-top: 2px;
   display: inline-block;
}

.divButtonMenu {
   margin: 0;
   top: 0;
   padding-top: 22px;
   margin-right: 10px;
   border-right: 1px #fff solid;
   height: 64px;
   width: 85px;
   text-align: center;
   vertical-align: middle;
   display: inline-block;
}

.divModuleName {
   display: inline-block;
   border-left: 1px #fff solid;
   font-size: 2rem;
   margin-left: 10px;
   top: 0;
   padding-top: 10px;
   padding-left: 20px;
   height: 64px;
   width: 100px;
   text-align: center;
   vertical-align: middle;
}

.divAppName {
   color: #FFF;
   /*background-color: rgba(255, 255, 255, 0.1);*/
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.5) 100%);
   padding-bottom: 10px;
   width: 100%;
   position: absolute;
   top: 150px;
   left: 0%;
   font-size: 3rem;
   text-align: center;
}

.version {
   font-size: 0.7rem;
}