.divHeader {
    background-color: var(--pulse-bg-color);
    color: var(--pulse-text-color);
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    height: 80px;
}
.logoImage{
    padding: 10px;
    
}
