<ng-container *transloco="let t; prefix: 'menu'">

    <p-panelMenu [model]="items" styleClass="w-full md:w-20rem" [multiple]="true">
        <ng-template pTemplate="item" let-item>

            <ng-container *ngIf="item.route; else urlRef">
                <a [routerLink]="item.route" class="flex align-items-center cursor-pointer text-color px-3 py-2">
                    <span [class]="item.icon"></span>
                    <span class="ml-2 text-color">{{ t(item.label) }}</span>
                </a>
            </ng-container>

            <ng-template #urlRef>
                <a *ngIf="item.url; else noLink" [href]="item.url" class="flex containerDiv align-items-center 
                        cursor-pointer text-color px-3 py-2">
                    <span [class]="item.icon"></span>
                    <span *ngIf="!item.separator" class="ml-2">{{ t(item.label) }}</span>
                </a>
                <ng-template #noLink>
                    <span [class]="'flex align-items-center cursor-pointer px-3 py-2 '+(item.items ? 'text-secondary containerDiv font-bold' :'')">
                        <span [class]="item.icon"></span>
                        <p-image *ngIf="langArray.includes(item.icon)" src="{{ '/'+ item.icon + '.png' }}" height="15" />
                        <span *ngIf="!item.separator"  class="ml-2">{{ t(item.label) }}</span>
                        <i *ngIf="item.items" class="pi pi-angle-down ml-auto"></i>
                    </span>
                </ng-template>
            </ng-template>

        </ng-template>
    </p-panelMenu>
</ng-container>