:root {
    --pulse-bg-color: #006167;
    --pulse-bg-color-secondary: #04969e;
    --pulse-text-color: #FFF;
    --primary-color:var(--pulse-bg-color);
   
  }

body {
    margin: auto;
}

.p-menuitem-link, .p-menubar-button, .p-menubar-end {
    color: var(--pulse-text-color);
}
.p-panelmenu-content{
    padding: 0;
}
.p-button-secondary{
    background-color: var(--pulse-bg-color-secondary);

}


/*.p-menubar,.p-element, .p-submenu-list, .p-menubar-root-list {
    background: var(--pulse-bg-color);
}*/

@import "primeng/resources/themes/md-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
