:root {
    /*--pulse-bg-color: #006167;*/
    --pulse-bg-color: var(--bluegray-200);
    --pulse-bg-color-secondary: var(--bluegray-300); // #04969e;
    --pulse-text-color: #FFF;
    --primary-color: var(--pulse-bg-color);
    --pulse-button-color: var(--bluegray-200);

}

body, html{
    margin:0;
    padding:0;
}
.p-button-secondary {
    background-color: var(--pulse-bg-color-secondary);

}

.p-tabview .p-tabview-panels {
    padding: 0;
}

.p-button {
    background-color: var(--orange-500);
}


/*.p-menubar,.p-element, .p-submenu-list, .p-menubar-root-list {
    background: var(--pulse-bg-color);
}*/

@import "primeng/resources/themes/md-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

.footer {
    margin-top: 20px;
    background-color: #fcfcfc;
    width: 100%;
    color: var(--primary-color);
    text-align: center;
}